# 1173200618 赵沛霖 人工智能与机器学习 作业一

基于决策树优化模型的天气预测

一、查看数据

In [1]:
import pandas as pd
import numpy

In [2]:
df=pd.read_csv("weatherAUS.csv")
df.shape

(142193, 24)

In [3]:
df.sample(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
88947,2012-01-13,GoldCoast,20.5,27.5,0.0,NaN,NaN,SSE,33.0,SSE,...,54.0,1016.7,1014.2,NaN,NaN,26.5,24.6,No,0.0,No
1187,2012-04-15,Albury,9.4,25.4,0.0,NaN,NaN,ENE,17.0,S,...,38.0,1026.4,1022.3,NaN,3.0,15.2,25.1,No,0.0,No
90978,2009-05-05,Townsville,17.6,28.9,0.0,8.4,8.1,ESE,48.0,S,...,53.0,1019.5,1016.2,7.0,7.0,24.5,27.9,No,1.2,Yes
26290,2016-10-06,Penrith,9.5,29.0,0.2,NaN,NaN,NW,31.0,NNW,...,21.0,NaN,NaN,NaN,NaN,17.8,27.7,No,0.0,No
8313,2015-10-06,Cobar,20.8,36.8,0.0,8.4,NaN,NNW,48.0,NNE,...,6.0,1022.0,1019.5,0.0,0.0,26.9,35.8,No,0.0,No
56904,2009-06-21,Bendigo,6.1,12.1,0.2,0.0,NaN,ENE,19.0,SE,...,91.0,1020.1,1018.2,7.0,8.0,9.0,12.0,No,0.4,No
122633,2014-02-13,SalmonGums,16.9,23.6,0.0,NaN,NaN,SE,37.0,SSE,...,65.0,NaN,NaN,NaN,NaN,19.6,22.5,No,0.0,No
12414,2010-06-19,Moree,2.6,16.4,0.0,1.8,9.5,SW,43.0,S,...,45.0,1023.2,1021.8,0.0,0.0,8.6,15.7,No,0.0,No
27081,2010-07-05,Richmond,3.4,14.3,0.0,3.4,NaN,SSE,15.0,NaN,...,68.0,1027.8,1024.1,NaN,NaN,8.5,14.1,No,1.0,No
99525,2016-03-22,MountGambier,9.2,27.2,0.0,5.2,10.4,SSW,33.0,NE,...,27.0,1018.6,1015.7,0.0,1.0,13.9,26.3,No,0.0,No
108827,2017-01-09,Albany,12.9,22.2,0.0,NaN,NaN,NaN,NaN,NNE,...,NaN,1015.7,1013.2,1.0,NaN,18.9,NaN,No,0.0,No
105080,2015-01-10,Woomera,18.0,24.0,66.4,NaN,0.0,SSE,50.0,S,...,73.0,1004.7,1003.3,8.0,8.0,18.6,23.2,Yes,0.0,No
27957,2013-03-21,Richmond,12.9,28.8,0.0,4.0,NaN,NE,33.0,ENE,...,44.0,1019.5,1013.4,NaN,NaN,17.2,28.4,No,0.0,No
95199,2012-05-17,Adelaide,6.9,20.8,0.0,1.8,NaN,W,35.0,NE,...,31.0,1022.7,1019.5,NaN,NaN,14.2,19.8,No,0.0,No
34428,2013-08-11,SydneyAirport,8.8,22.3,0.0,3.8,10.4,WNW,33.0,W,...,19.0,1018.1,1013.4,1.0,1.0,14.6,20.9,No,0.0,No
121640,2011-02-24,SalmonGums,12.8,32.5,0.0,NaN,NaN,SE,46.0,ENE,...,32.0,NaN,NaN,NaN,NaN,23.1,31.3,No,0.0,No
67125,2012-09-02,Melbourne,5.3,19.2,0.0,1.6,10.8,N,48.0,N,...,38.0,1023.6,1019.2,NaN,NaN,10.6,18.6,No,0.0,No
71059,2017-02-18,Mildura,14.2,23.7,0.0,NaN,10.8,SW,43.0,SSW,...,34.0,1014.1,1013.2,5.0,4.0,15.6,21.3,No,0.0,No
105593,2016-06-06,Woomera,7.6,18.4,0.0,2.8,NaN,WSW,52.0,W,...,46.0,1013.7,1012.3,0.0,6.0,11.8,17.4,No,0.0,No
119186,2012-08-18,Perth,6.4,24.1,0.0,2.2,10.4,E,19.0,ENE,...,26.0,1022.8,1019.2,0.0,0.0,13.7,23.5,No,0.0,No

In [4]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [5]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [6]:
import matplotlib.pyplot as plt

df.hist(figsize=(20,16))
plt.show()

In [7]:
df = df.drop(['RISK_MM'],axis=1)
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

二、缺失值处理

In [8]:
#用平均值处理温度的缺失值
mean_mintemp = df['MinTemp'].mean()

tmp=df['MinTemp'].copy()
tmp[df.MinTemp.isnull()] = mean_mintemp
df['MinTemp_fill'] = tmp
del tmp
df = df.drop(['MinTemp'],axis=1)

In [9]:
mean_maxtemp = df['MaxTemp'].mean()
tmp=df['MaxTemp'].copy()
tmp[df.MaxTemp.isnull()] = mean_maxtemp
df['MaxTemp_fill'] = tmp
del tmp
df = df.drop(['MaxTemp'],axis=1)

In [10]:
mean_rainfall = df['Rainfall'].mean()
tmp=df['Rainfall'].copy()
tmp[df.Rainfall.isnull()] = mean_rainfall
df['Rainfall_fill'] = tmp
del tmp
df = df.drop(['Rainfall'],axis=1)

In [11]:
mean_evaporation = df['Evaporation'].mean()
tmp=df['Evaporation'].copy()
tmp[df.Evaporation.isnull()] = mean_evaporation
df['Evaporation_fill'] = tmp
del tmp
df = df.drop(['Evaporation'],axis=1)

In [12]:
mean_sunshine = df['Sunshine'].mean()
tmp=df['Sunshine'].copy()
tmp[df.Sunshine.isnull()] = mean_sunshine
df['Sunshine_fill'] = tmp
del tmp
df = df.drop(['Sunshine'],axis=1)

In [13]:
mean_windgustspeed = df['WindGustSpeed'].mean()
tmp=df['WindGustSpeed'].copy()
tmp[df.WindGustSpeed.isnull()] = mean_windgustspeed
df['WindGustSpeed_fill'] = tmp
del tmp
df = df.drop(['WindGustSpeed'],axis=1)

In [14]:
mean_windspeed9am = df['WindSpeed9am'].mean()
tmp=df['WindSpeed9am'].copy()
tmp[df.WindSpeed9am.isnull()] = mean_windspeed9am
df['WindSpeed9am_fill'] = tmp
del tmp
df = df.drop(['WindSpeed9am'],axis=1)

In [15]:
mean_windspeed3pm = df['WindSpeed3pm'].mean()
tmp=df['WindSpeed3pm'].copy()
tmp[df.WindSpeed3pm.isnull()] = mean_windspeed3pm
df['WindSpeed3pm_fill'] = tmp
del tmp
df = df.drop(['WindSpeed3pm'],axis=1)

In [16]:
mean_humidity9am = df['Humidity9am'].mean()
tmp=df['Humidity9am'].copy()
tmp[df.Humidity9am.isnull()] = mean_humidity9am
df['Humidity9am_fill'] = tmp
del tmp
df = df.drop(['Humidity9am'],axis=1)

In [17]:
mean_humidity3pm = df['Humidity3pm'].mean()
tmp=df['Humidity3pm'].copy()
tmp[df.Humidity3pm.isnull()] = mean_humidity3pm
df['Humidity3pm_fill'] = tmp
del tmp
df = df.drop(['Humidity3pm'],axis=1)

In [18]:
mean_pressure9am = df['Pressure9am'].mean()
tmp=df['Pressure9am'].copy()
tmp[df.Pressure9am.isnull()] = mean_pressure9am
df['Pressure9am_fill'] = tmp
del tmp
df = df.drop(['Pressure9am'],axis=1)

In [19]:
mean_pressure3pm = df['Pressure3pm'].mean()
tmp=df['Pressure3pm'].copy()
tmp[df.Pressure3pm.isnull()] = mean_pressure3pm
df['Pressure3pm_fill'] = tmp
del tmp
df = df.drop(['Pressure3pm'],axis=1)

In [20]:
mean_cloud9am = df['Cloud9am'].mean()
tmp=df['Cloud9am'].copy()
tmp[df.Cloud9am.isnull()] = mean_cloud9am
df['Cloud9am_fill'] = tmp
del tmp
df = df.drop(['Cloud9am'],axis=1)

In [21]:
mean_cloud3pm = df['Cloud3pm'].mean()
tmp=df['Cloud3pm'].copy()
tmp[df.Cloud3pm.isnull()] = mean_cloud3pm
df['Cloud3pm_fill'] = tmp
del tmp
df = df.drop(['Cloud3pm'],axis=1)

In [22]:
mean_temp9am = df['Temp9am'].mean()
tmp=df['Temp9am'].copy()
tmp[df.Temp9am.isnull()] = mean_temp9am
df['Temp9am_fill'] = tmp
del tmp
df = df.drop(['Temp9am'],axis=1)

In [23]:
mean_temp3pm = df['Temp3pm'].mean()
tmp=df['Temp3pm'].copy()
tmp[df.Temp3pm.isnull()] = mean_temp3pm
df['Temp3pm_fill'] = tmp
del tmp
df = df.drop(['Temp3pm'],axis=1)

In [24]:
df.sample(5)

,Date,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,RainTomorrow,MinTemp_fill,MaxTemp_fill,Rainfall_fill,...,WindSpeed9am_fill,WindSpeed3pm_fill,Humidity9am_fill,Humidity3pm_fill,Pressure9am_fill,Pressure3pm_fill,Cloud9am_fill,Cloud3pm_fill,Temp9am_fill,Temp3pm_fill
77737,2014-09-07,Watsonia,N,NE,NNE,No,No,4.1,20.5,0.0,...,7.0,13.0,90.0,41.0,1030.1,1025.3,0.000000,2.000000,10.3,19.8
119493,2013-08-19,Perth,SSW,NE,SW,No,No,9.4,20.6,0.4,...,11.0,9.0,70.0,41.0,1025.3,1023.0,1.000000,3.000000,14.1,20.5
113500,2014-01-03,PearceRAAF,SW,ESE,SW,No,No,12.1,29.8,0.0,...,19.0,28.0,41.0,28.0,1021.7,1017.5,4.437189,4.503167,20.8,27.3
80116,2013-01-29,Dartmoor,SSW,SW,WSW,No,No,11.3,20.8,0.6,...,13.0,17.0,60.0,40.0,1016.0,1015.1,4.437189,4.503167,15.5,19.4
81669,2017-06-01,Dartmoor,N,WNW,N,No,No,5.0,14.0,0.0,...,4.0,4.0,98.0,66.0,1038.8,1036.5,4.437189,4.503167,7.2,13.0

三、将变量转化为数值

In [25]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_date = le.fit(df['Date'])
df['Date'] = df_date.transform(df['Date'])

df_location = le.fit(df['Location'])
df['Location'] = df_location.transform(df['Location'])

df_raintomorrow = le.fit(df['RainTomorrow'])
df['RainTomorrow'] = df_raintomorrow.transform(df['RainTomorrow'])

df = df.dropna()


df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123710 entries, 0 to 142192
Data columns (total 23 columns):
Date                  123710 non-null int32
Location              123710 non-null int32
WindGustDir           123710 non-null object
WindDir9am            123710 non-null object
WindDir3pm            123710 non-null object
RainToday             123710 non-null object
RainTomorrow          123710 non-null int32
MinTemp_fill          123710 non-null float64
MaxTemp_fill          123710 non-null float64
Rainfall_fill         123710 non-null float64
Evaporation_fill      123710 non-null float64
Sunshine_fill         123710 non-null float64
WindGustSpeed_fill    123710 non-null float64
WindSpeed9am_fill     123710 non-null float64
WindSpeed3pm_fill     123710 non-null float64
Humidity9am_fill      123710 non-null float64
Humidity3pm_fill      123710 non-null float64
Pressure9am_fill      123710 non-null float64
Pressure3pm_fill      123710 non-null float64
Cloud9am_fill         123710 non-null float64
Cloud3pm_fill         123710 non-null float64
Temp9am_fill          123710 non-null float64
Temp3pm_fill          123710 non-null float64
dtypes: float64(16), int32(3), object(4)
memory usage: 19.3+ MB

In [26]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_windgustdir  = le.fit(df['WindGustDir'])
df['WindGustDir'] = df_windgustdir.transform(df['WindGustDir'])

df_winddir9am = le.fit(df['WindDir9am'])
df['WindDir9am'] = df_winddir9am.transform(df['WindDir9am'])

df_winddir3pm = le.fit(df['WindDir3pm'])
df['WindDir3pm'] = df_winddir3pm.transform(df['WindDir3pm'])

df_raintoday = le.fit(df['RainToday'])
df['RainToday'] = df_winddir3pm.transform(df['RainToday'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123710 entries, 0 to 142192
Data columns (total 23 columns):
Date                  123710 non-null int32
Location              123710 non-null int32
WindGustDir           123710 non-null int32
WindDir9am            123710 non-null int32
WindDir3pm            123710 non-null int32
RainToday             123710 non-null int32
RainTomorrow          123710 non-null int32
MinTemp_fill          123710 non-null float64
MaxTemp_fill          123710 non-null float64
Rainfall_fill         123710 non-null float64
Evaporation_fill      123710 non-null float64
Sunshine_fill         123710 non-null float64
WindGustSpeed_fill    123710 non-null float64
WindSpeed9am_fill     123710 non-null float64
WindSpeed3pm_fill     123710 non-null float64
Humidity9am_fill      123710 non-null float64
Humidity3pm_fill      123710 non-null float64
Pressure9am_fill      123710 non-null float64
Pressure3pm_fill      123710 non-null float64
Cloud9am_fill         123710 non-null float64
Cloud3pm_fill         123710 non-null float64
Temp9am_fill          123710 non-null float64
Temp3pm_fill          123710 non-null float64
dtypes: float64(16), int32(7)
memory usage: 19.3 MB

四、进行模型分类预测

In [27]:
X = df.loc[:,df.columns!='RainTomorrow']
y = df.loc[:,df.columns=='RainTomorrow']

In [28]:
from sklearn.model_selection import train_test_split

X_tr,X_ts,y_tr,y_ts = train_test_split(X,y)
X_tr.shape,X_ts.shape

((92782, 22), (30928, 22))

In [29]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc = dtc.fit(X_tr,y_tr)

In [30]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(dtc,X,y,cv=5,scoring='accuracy')
scores.mean()

0.7606017404375292

In [40]:
from sklearn.model_selection import GridSearchCV

parameters={'min_samples_split' : list(range(2,6,1)),
            'max_depth': list(range(6,19,2)),
            'criterion':('gini','entropy'),
            'min_samples_leaf':list(range(2,9,2))}

clf = DecisionTreeClassifier()
gs = GridSearchCV(estimator=clf, param_grid = parameters, scoring='accuracy',iid=False,cv=5,return_train_score=True)
gs.fit(X_tr, y_tr)
gs.best_params_, gs.best_score_

({'criterion': 'entropy',
  'max_depth': 8,
  'min_samples_leaf': 6,
  'min_samples_split': 5},
 0.8452501159800541)

In [41]:
dtc_best = gs.best_estimator_
dtc_best.fit(X_tr,y_tr)

y_pred = dtc_best.predict(X_ts)
y_pred[0:5]

array([0, 0, 0, 1, 0])

In [42]:
scores = cross_val_score(dtc_best,X,y,cv=5,scoring='accuracy')
scores.mean()

0.8349044125018754

该作业运用决策树优化模型进行分类预测。通过处理缺失值，并将object型变量转化为数值型变量，并用格搜索最终得到精度为0.84的模型。0.84的精度说明基于决策树的优化模型没有出现过拟合或欠拟合现象，模型比较适合此数据。